{% extends 'layouts/main.twig' %}

{% block page %}
    <main class='container'>
        <h3>
            This is lame - <small><em>The end.</em></small>
        </h3>
        <hr/>
        <a class='waves-effect waves-light btn' href='/login'>hop in</a>
    </main>
{% endblock %}
